{% extends 'inicio_logueado.twig' %}

{% block content %}
    <div class = "cartilla_vacunacion">
        {% if lista_vacunacion != "False" %}
            {% if n_peticiones > 0 %}
                <table class="table">
                    <thead class="table-success">
                        <tr>
                            <th>Vacuna</th>
                            <th>Acrónimo</th>
                            {% if accion == "ver" %}
                                <th>Mostrar información</th>
                            {% elseif accion == "editar" %}
                                <th>Editar información</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <form action="index.php" method="POST">
                            {% for vacuna in lista_vacunacion %}
                                <tr>
                                    <td>{{vacuna.Nombre}}</td>
                                    <td>{{vacuna.Acronimo}}</td>
                                    {% if accion == "ver" %}
                                        <td><button class="btn btn-success" name="idProcesarInfoCompleta" value="{{vacuna.IDUsuario}}-{{vacuna.IDCalendario}}"><i class="bi bi-search"></i></button></td>
                                    {% elseif accion == "editar" %}
                                        <td><button class="btn btn-success" name="idEditarInfoCompleta" value="{{vacuna.IDUsuario}}-{{vacuna.IDCalendario}}"><i class="bi bi-brush"></i></button></td>
                                    {% endif %}
                                </tr>                            
                            {% endfor %}
                        </form>
                    </tbody>
                </table>
            {% else %}
                <h2>Este usuario aún no tiene ninguna vacuna añadida a su lista</h2>
            {% endif %}
        {% endif %} 
    </div>
{% endblock %}