{% extends 'inicio_logueado.twig' %}

{% block content %}
    <div class = "cartilla_vacunacion">
        {% if lista_vacunacion != "False" %}
            {% if n_peticiones > 0 %}
                <form action="index.php" method="POST">
                    {% for vacuna in lista_vacunacion %}
                        <p>Nombre: {{ vacuna.Nombre }} {{vacuna.Acronimo}}</p>
                        {% if accion == "ver" %}
                            <button class="form-button" name="idProcesarInfoCompleta" value="{{vacuna.IDUsuario}}-{{vacuna.IDCalendario}}">Mostrar información completa</button>
                        {% elseif accion == "editar" %}
                            <button class="form-button" name="idEditarInfoCompleta" value="{{vacuna.IDUsuario}}-{{vacuna.IDCalendario}}">Editar información</button>
                        {% endif %}
                    {% endfor %}
                </form>
            {% else %}
                <h2>Este usuario aún no tiene ninguna vacuna añadida a su lista</h2>
            {% endif %}
        {% endif %} 
    </div>
{% endblock %}