{% extends 'index_view.twig' %}

{% block content %}
    <form action="{{funciones('procesarUsuario.php')}}" method="POST" enctype="multipart/form-data" class="full-screen-form">
        {% if accion == "borrar" %}
            <h2>¿Está seguro de querer borrar esta usuario?</h2>
        {% endif %}

        {% if accion == "registrar" %}
            <img id="ver_user_img" height="200px" width="200px" src="{{ asset('img/NotPhoto.png')}}"/>
        {% else %}
            <img id="ver_user_img" height="200px" width="200px" src="data:image;base64,{{ row['Foto'] }}"/>
        {% endif %}
        <div class="mb-3">
            {% if accion == "registrar" or accion == "editar"%}
                <label for="file" class="form-label">Foto de perfil</label>
                <input class="form-control" type="file" id="file" name="file">
            {% endif %}
        </div>

        <!-- Nombre -->
        <div class="mb-3">
            <label for="registerNombreInput" class="form-label">Nombre</label>
            <!-- Recogida la variable se puede usar en value para rellenar el input -->
            {% if accion == "registrar" %}
                <input class="form-control" id="registerNombreInput" type="text" name="nom" value="{{ row['Nombre'] }}" required>
            {% elseif accion == "editar" %}
                {% if rol_user == "Admin" %}
                    <input class="form-control" id="registerNombreInput" type="text" name="nom" value="{{ row['Nombre'] }}" required>
                {% else %}
                    <input readonly class="form-control" id="registerNombreInput" type="text" name="nom" value="{{ row['Nombre'] }}">
                {% endif %}
            {% else %}
                <input readonly class="form-control" id="registerNombreInput" type="text" name="nom" value="{{ row['Nombre'] }}">
            {% endif %}
            <span class="error-msg">{{ errores['nombreError']}}</span>
        </div>

        <!-- Apellidos -->
        <div class="mb-3">
            <label for="registerApellidoInput" class="form-label">Apellidos</label>
            {% if accion == "registrar" %}
                <input class="form-control" id="registerApellidoInput" type="text" name="apell" value="{{ row['Apellidos'] }}" required>
            {% elseif accion == "editar" %}
                {% if rol_user == "Admin" %}
                    <input class="form-control" id="registerApellidoInput" type="text" name="apell" value="{{ row['Apellidos'] }}" required>
                {% else %}
                    <input readonly class="form-control" id="registerApellidoInput" type="text" name="apell" value="{{ row['Apellidos'] }}">
                {% endif %}
            {% else %}
                <input readonly class="form-control" id="registerApellidoInput" type="text" name="apell" value="{{ row['Apellidos'] }}">
            {% endif %}
            <span class="error-msg">{{errores['apellidosError']}}</span>
        </div>

        <!-- DNI -->
        <div class="mb-3">
            <label for="registerDniInput" class="form-label">DNI</label>
            {% if accion == "registrar" %}
                <input class="form-control" id="registerDniInput" type="text" name="dn" value="{{ row['DNI'] }}" required>
            {% elseif accion == "editar" %}
                {% if rol_user == "Admin" %}
                    <input class="form-control" id="registerDniInput" type="text" name="dn" value="{{ row['DNI'] }}" required>
                {% else %}
                    <input readonly class="form-control" id="registerDniInput" type="text" name="dn" value="{{ row['DNI'] }}">
                {% endif %}
            {% else %}
                <input readonly class="form-control" id="registerDniInput" type="text" name="dn" value="{{ row['DNI'] }}">
            {% endif %}
            <span class="error-msg">{{ errores['dniError']}}</span>
        </div>

        <!-- Email -->
        <div class="mb-3">
            <label for="registerEmailInput" class="form-label">Email</label>
            {% if accion == "registrar" or accion == "editar" %}
                <input class="form-control" id="registerEmailInput" type="email" name="ema" value="{{ row['Email'] }}" required>
            {% else %}
                <input readonly class="form-control" id="registerEmailInput" type="email" name="ema" value="{{ row['Email'] }}">
            {% endif %}
            <span class="error-msg">{{ errores['emailError']}}</span>
        </div>

        <!-- Telefono -->
        <div class="mb-3">
            <label for="registerTelefonoInput" class="form-label">Teléfono</label>
            {% if accion == "registrar" or accion == "editar" %}
                <input class="form-control" id="registerTelefonoInput" type="number" name="tel" value="{{ row['Telefono'] }}" required>
            {% else %}
                <input readonly class="form-control" id="registerTelefonoInput" type="number" name="tel" value="{{ row['Telefono'] }}">
            {% endif %}
            <span class="error-msg">{{ errores['telefonoError']}}</span>
        </div>

        <!-- Fecha Nacimiento -->
        <div class="mb-3">
            <label for="registerFechaInput" class="form-label">Fecha de Nacimiento</label>
            {% if accion == "registrar" %}
                <input class="form-control" id="registerFechaInput" type="date" name="nac" value="{{ row['FechaNac'] }}" required>
            {% elseif accion == "editar" %}
                {% if rol_user == "Admin" %}
                    <input class="form-control" id="registerFechaInput" type="text" type="date" name="nac" value="{{ row['FechaNac'] }}" required>
                {% else %}
                    <input readonly class="form-control" id="registerFechaInput" type="date" name="nac" value="{{ row['FechaNac'] }}">
                {% endif %}
            {% else %}
                <input readonly class="form-control" id="registerFechaInput" type="date" name="nac" value="{{ row['FechaNac'] }}">
            {% endif %}
            <span class="error-msg">{{ errores['fechaNacError']}}</span>
        </div>
                    
        <!-- Sexo (Checkbox) -->
        <div class="mb-3">
            <label class="form-label">Sexo</label>
            {% if accion == "registrar" %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="genero" value="Masculino" id="masc" checked="true">
                    <label class="form-check-label" for="masc">Masculino</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="genero" value="Femenino" id="fem">
                    <label class="form-check-label" for="fem">Femenino</label>
                </div>
            {% elseif accion == "editar" %}
                {% if rol_user == "Admin" %}
                    {% if row['Sexo']  == "Masculino" %}    
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" value="Masculino" id="masc" checked="true">
                            <label class="form-check-label" for="masc">Masculino</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" value="Femenino" id="fem">
                            <label class="form-check-label" for="fem">Femenino</label>
                        </div>

                    {% else %}
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" value="Masculino" id="masc">
                            <label class="form-check-label" for="masc">Masculino</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="genero" id="fem" value="Femenino" checked="true">
                            <label class="form-check-label" for="fem">Femenino</label>
                        </div>
                    {% endif %} 
                {% else %}
                    {% if row['Sexo']  == "Masculino" %}    
                        <input readonly class="form-control" type="text" name="genero" id="masc" value="Masculino">
                    {% else %}
                        <input readonly class="form-control" type="text" name="genero" id="masc" value="Femenino">
                    {% endif %}
                {% endif %}
            {% else %}
                {% if row['Sexo']   == "Masculino" %}    
                    <input readonly class="form-control" type="text" name="genero" id="masc" value="Masculino">
                {% else %}
                    <input readonly class="form-control" type="text" name="genero" id="masc" value="Femenino">
                {% endif %}
            {% endif %}
            <span class="error-msg">{{ errores['sexoError']}}</span>
        </div>

        <!-- Clave  -->
        <div class="mb-3">
            <label for="registerClaveInput" class="form-label">Clave</label>
            {% if accion == "registrar"  %}
                <input class="form-control" id="registerClaveInput" type="password" name="clv" value="{{ row['Clave'] }}" required>
            {% elseif accion == "editar" %}
                <input class="form-control" id="registerClaveInput" type="password" name="clv" value="{{ row['Clave']|slice(0,6) }}" required>
            {% else %}
                <input readonly class="form-control" id="registerClaveInput" type="password" name="clv" value="{{ row['Clave']|slice(0,6) }}">
            {% endif %}
            <span class="error-msg">{{ errores['claveError']}}</span>
        </div>
        <div class="mb-3">
            {% if accion == "registrar" %}
                <label for="registerClaveRepInput" class="form-label">Repita la clave</label>
                <input class="form-control" id="registerClaveRepInput" type="password" name="clv_rep" required>
            {% endif %}
        </div>

        {% if rol_user == "Admin" %}
            <div class="mb-3">
                <label for="registerRoleInput" class="form-label">Rol</label>
                {% if accion == "confirmar" or accion == "activar" %}
                    {% if row['Rol']  == "Sanitario" %}
                        <input readonly class="form-control" type="text" id="registerRoleInput" name="rol" value="Sanitario">
                    {% else %}
                        <input readonly class="form-control" type="text" id="registerRoleInput" name="rol" value="Paciente">
                    {% endif %}
                {% else %}
                    {% if row['Rol']  == "Sanitario" %}
                        <select class="form-select" name="rol" id="registerRoleInput">
                            <option value="Paciente" >Paciente</option>
                            <option value="Sanitario" selected>Sanitario</option>
                        </select>
                    {% else %}
                        <select class="form-select" name="rol" id="registerRoleInput">
                            <option value="Paciente" selected>Paciente</option>
                            <option value="Sanitario">Sanitario</option>
                        </select>
                    {% endif %}
                {% endif %}
            </div>

            <div class="mb-3">
                <label for="registerEstadoInput" class="form-label">Estado</label>
                {% if accion == "confirmar" or accion == "activar" %}
                    {% if row['Estado']  == "Activo" %}
                        <input readonly class="form-control" type="text" id="registerEstadoInput" name="estado" value="Activo">
                    {% else %}
                        <input readonly class="form-control" type="text" id="registerEstadoInput" name="estado" value="Inactivo">
                    {% endif %}
                {% else %}
                    {% if row['Estado']  == "Activo" %}
                        <select class="form-select" name="estado" id="registerEstadoInput">
                            <option value="Activo" selected>Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    {% else %}
                        <select class="form-select" name="estado" id="registerEstadoInput">
                            <option value="Activo">Activo</option>
                            <option value="Inactivo" selected>Inactivo</option>
                        </select>
                    {% endif %}
                {% endif %}
            </div>
        {% else %}
            <div hidden>
                <span>Rol</span>
                {% if rol_user == "Sanitario" %}
                    <label><input readonly type="text" id="sanitario" name="rol" value="Sanitario"></label>
                {% else %}
                    <label><input readonly type="text" id="paciente" name="rol" value="Paciente"></label>
                {% endif %}

                <span>Estado</span>
                {% if rol_user == "Sanitario" or rol_user == "Paciente" %}
                    <label><input readonly type="text" id="act" name="estado" value="Activo"></label>
                {% else %}
                    <label><input readonly type="text" id="inact" name="estado" value="Inactivo"></label>
                {% endif %}
            </div>
        {% endif %}

        <!-- Boton de Confirmacion -->
        {% if accion == "registrar" %}
            {% if rol_user == "Admin" %}
                <button class="btn btn-success" name="boton-registrar-user" type="submit">Registrar datos</button>
            {% else %}
                <button class="btn btn-success" name="boton-enviar-datos-user" type="submit">Enviar datos</button>
            {% endif %}
        {% elseif accion == "editar" %}
                <button class="btn btn-success" name="boton-editar-user" type="submit">Guardar cambios</button>
        {% elseif accion == "confirmar" or accion == "borrar" %}
            <button class="btn btn-success" name="boton-confirmar-user" type="submit">Confirmar</button>
        {% elseif accion == "activar" %}
            <div class="hor-buttons">
                <button class="btn btn-success" name="boton-activar-user" type="submit">Activar e informar</button>
                <button class="btn btn-success" name="boton-informar-error-user" type="submit">Informar de error</button>
                <button class="btn btn-success" name="boton-borrar-user" type="submit">Borrar usuario</button>
            </div>
        {% endif %}
        <input hidden name="accion" value="{{ accion }}">
    </form>
 
{% endblock %}