{% extends 'index_view.twig' %}

{% block content %}
    <form action="{{funciones('procesarUsuario.php')}}" method="POST" enctype="multipart/form-data">
        <div class="informacion-tabla">

            <div id="profile-photo">
                <p>Foto de perfil</p>
                    {% if accion == "registrar" %}
                        <img id="ver_user_img" height="80px" width="80px" src="{{ asset('img/NotPhoto.png')}}"/>
                    {% else %}
                        <img id="ver_user_img" height="80px" width="80px" src="data:image;base64,{{ row['Foto'] }}"/>
                    {% endif %}
                    {% if accion == "registrar" or accion == "editar"%}
                        <input type="file" id="file" name="file">
                    {% endif %}
            </div>

            <div id="tabla">
                <table class="tabla_registro">
                    <!-- Nombre -->
                    <tr>
                        <td>Nombre</td>
                        <!-- Recogida la variable se puede usar en value para rellenar el input -->
                        <td>
                            {% if accion == "registrar" %}
                                <input type="text" name="nom" value="{{ row['Nombre'] }}" required>
                                <span>{{ errores['nombreError']}}</span>
                            {% elseif accion == "editar" %}
                                {% if rol_user == "Admin" %}
                                    <input type="text" name="nom" value="{{ row['Nombre'] }}" required>
                                {% else %}
                                    <input readonly type="text" name="nom" value="{{ row['Nombre'] }}">
                                {% endif %}
                            {% else %}
                                <input readonly type="text" name="nom" value="{{ row['Nombre'] }}">
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Apellidos -->
                    <tr>
                        <td>Apellidos</td>
                        <td>
                            {% if accion == "registrar" %}
                                <input type="text" name="apell" value="{{ row['Apellidos'] }}" required>
                                <span>{{ errores['apellidosError']}}</span>
                            {% elseif accion == "editar" %}
                                {% if rol_user == "Admin" %}
                                    <input type="text" name="apell" value="{{ row['Apellidos'] }}" required>
                                {% else %}
                                    <input readonly type="text" name="apell" value="{{ row['Apellidos'] }}">
                                {% endif %}
                            {% else %}
                                <input readonly type="text" name="apell" value="{{ row['Apellidos'] }}">
                            {% endif %}
                        </td>       
                    </tr>

                    <!-- DNI -->
                    <tr>
                        <td>DNI</td>
                        <td>
                            {% if accion == "registrar" %}
                                <input type="text" name="dn" value="{{ row['DNI'] }}" required>
                                <span>{{ errores['dniError']}}</span>
                            {% elseif accion == "editar" %}
                                {% if rol_user == "Admin" %}
                                    <input type="text" name="dn" value="{{ row['DNI'] }}" required>
                                {% else %}
                                    <input readonly type="text" name="dn" value="{{ row['DNI'] }}">
                                {% endif %}
                            {% else %}
                                <input readonly type="text" name="dn" value="{{ row['DNI'] }}">
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Email -->
                    <tr>
                        <td>EMAIL</td>
                        <td>
                            {% if accion == "registrar" or accion == "editar" %}
                                <input type="email" name="ema" value="{{ row['Email'] }}" required>
                                <span>{{ errores['emailError']}}</span>
                            {% else %}
                                <input readonly type="email" name="ema" value="{{ row['Email'] }}">
                                <span>{{ errores['emailError']}}</span>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Telefono -->
                    <tr>
                        <td>Telefono</td>
                        <td>
                            {% if accion == "registrar" or accion == "editar" %}
                                <input class="number_input" type="number" name="tel" value="{{ row['Telefono'] }}" required>
                                <span>{{ errores['telefonoError']}}</span>
                            {% else %}
                                <input readonly class="number_input" type="number" name="tel" value="{{ row['Telefono'] }}" required>
                                <span>{{ errores['telefonoError']}}</span>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Fecha Nacimiento -->
                    <tr>
                        <td>Fecha Nacimiento</td>
                        <td>
                            {% if accion == "registrar" %}
                                <input type="date" name="nac" value="{{ row['FechaNac'] }}" required>
                                <span>{{ errores['fechaNacError']}}</span>
                            {% elseif accion == "editar" %}
                                {% if rol_user == "Admin" %}
                                    <input type="date" name="nac" value="{{ row['FechaNac'] }}" required>
                                {% else %}
                                    <input readonly type="date" name="nac" value="{{ row['FechaNac'] }}">
                                {% endif %}
                            {% else %}
                                <input readonly type="date" name="nac" value="{{ row['FechaNac'] }}">
                            {% endif %}
                        </td>
                    </tr>
                    
                    <!-- Sexo (Checkbox) -->
                    <tr>
                        <td>Sexo</td>
                        <td>
                            {% if accion == "registrar" %}
                                <label><input type="radio" id="masc" name="genero" value="Masculino" checked="true">Masculino</label>
                                <label><input type="radio" id="fem" name="genero" value="Femenino">Femenino</label>
                            {% elseif accion == "editar" %}
                                {% if rol_user == "Admin" %}
                                    {% if row['Sexo']   == "Masculino" %}    
                                        <label><input type="radio" id="masc" name="genero" value="Masculino" checked="true">Masculino</label>
                                        <label><input type="radio" id="fem" name="genero" value="Femenino">Femenino</label>
                                        <span>{{ errores['sexoError']}}</span>
                                    {% else %}
                                        <label><input type="radio" id="masc" name="genero" value="Masculino">Masculino</label>
                                        <label><input type="radio" id="fem" name="genero" value="Femenino" checked="true">Femenino</label> 
                                        <span>{{ errores['sexoError']}}</span>
                                    {% endif %} 
                                {% else %}
                                    {% if row['Sexo']   == "Masculino" %}    
                                        <input readonly type="text" id="masc" name="genero" value="Masculino">
                                    {% else %}
                                        <input readonly type="text" id="fem" name="genero" value="Femenino">
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if row['Sexo']   == "Masculino" %}    
                                    <input readonly type="text" id="masc" name="genero" value="Masculino">
                                {% else %}
                                    <input readonly type="text" id="fem" name="genero" value="Femenino">
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Clave (Repeticion) -->
                    <tr>
                        <td>Clave</td>
                        <td>
                            {% if accion == "registrar" %}
                                <input type="password" name="clv" value="{{ row['Clave']|slice(0,6)}}" required><input type="password" name="clv_rep" required>
                                <span>{{ errores['claveError']}}</span>
                            {% elseif accion == "editar" %}
                                <input type="password" name="clv" value="{{ row['Clave']|slice(0,6)}}" required>
                                <span>{{ errores['claveError']}}</span>
                            {% else %}
                                <input readonly type="password" name="clv" value="{{ row['Clave']|slice(0,6)}}">
                                <span>{{ errores['claveError']}}</span>
                            {% endif %}
                        </td>
                    </tr>

                    {% if rol_user == "Admin" %}
                        <tr>
                            <td>Rol</td>
                            <td>
                                {% if accion == "confirmar" or accion == "activar" %}
                                    {% if row['Rol']  == "Sanitario" %}
                                        <label><input readonly type="text" id="sanitario" name="rol" value="Sanitario"></label>
                                    {% else %}
                                        <label><input readonly type="text" id="paciente" name="rol" value="Paciente"></label>
                                    {% endif %}
                                {% else %}
                                    {% if row['Rol']  == "Sanitario" %}
                                        <select name="rol">
                                            <option value="Paciente" >Paciente</option>
                                            <option value="Sanitario" selected>Sanitario</option>
                                        </select>
                                    {% else %}
                                        <select name="rol">
                                            <option value="Paciente" selected>Paciente</option>
                                            <option value="Sanitario">Sanitario</option>
                                        </select>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <td>Estado</td>
                            <td>
                                {% if accion == "confirmar" or accion == "activar" %}
                                    {% if row['Estado']  == "Activo" %} 
                                        <label><input readonly type="text" id="act" name="estado" value="Activo"></label>
                                    {% else %}
                                        <label><input readonly type="text" id="inact" name="estado" value="Inactivo"></label>
                                    {% endif %}
                                {% else %}
                                    {% if row['Estado']  == "Activo" %}
                                        <select name="estado">
                                            <option value="Activo" selected>Activo</option>
                                            <option value="Inactivo">Inactivo</option>
                                        </select>
                                    {% else %}
                                        <select name="estado">
                                            <option value="Activo">Activo</option>
                                            <option value="Inactivo" selected>Inactivo</option>
                                        </select>
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr hidden>
                            <td>Rol</td>
                            <td>
                                {% if rol_user == "Sanitario" %}
                                    <label><input readonly type="text" id="sanitario" name="rol" value="Sanitario"></label>
                                {% else %}
                                    <label><input readonly type="text" id="paciente" name="rol" value="Paciente"></label>
                                {% endif %}
                            </td>
                        </tr>

                        <tr hidden>
                            <td>Estado</td>
                            <td>
                                {% if rol_user == "Sanitario" or rol_user == "Paciente" %}
                                    <label><input readonly type="text" id="act" name="estado" value="Activo"></label>
                                {% else %}
                                    <label><input readonly type="text" id="inact" name="estado" value="Inactivo"></label>
                                {% endif %}
                            </td>
                        </tr>
                    {% endif %}

                    <!-- Boton de Confirmacion -->
                    <tr>
                        <td></td>
                        <td>
                            {% if accion == "registrar" %}
                                {% if rol_user == "Admin" %}
                                    <button class="form-button" name="boton-registrar-user" type="submit">Registrar datos</button>
                                {% else %}
                                    <button class="form-button" name="boton-enviar-datos-user" type="submit">Enviar datos</button>
                                {% endif %}
                            {% elseif accion == "editar" %}
                                    <button class="form-button" name="boton-editar-user" type="submit">Guardar cambios</button>
                            {% elseif accion == "confirmar" %}
                                <button class="form-button" name="boton-confirmar-user" type="submit">Confirmar datos</button>
                            {% elseif accion == "activar" %}
                                <button class="form-button" name="boton-activar-user" type="submit">Activar e informar</button>
                                <button class="form-button" name="boton-informar-error-user" type="submit">Informar de error</button>
                                <button class="form-button" name="boton-borrar-user" type="submit">Borrar usuario</button>
                            {% endif %}
                            <input hidden name="accion" value="{{ accion }}"> 
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
 
{% endblock %}