{% extends 'inicio_logueado.twig' %}

{% block content %}
    <div class="filtro_usuarios">
        <form action="index.php">
            <input type="text" placeholder="Buscar..." name="search">
            <!-- Falta de ordenacion por rango de edad -->-->
            <input type="checkbox" id="activo" name="activo" value="activo">
            <label for="activo">Activo</label>
            <input type="checkbox" id="inactivo" name="inactivo" value="inactivo">
            <label for="inactivo">Inactivo</label>
            <input type="checkbox" id="pendiente" name="pendiente" value="vacunas_pendientes">
            <label for="Activo">Vacunas Pendientes</label>
            <label for="VacunaXSemanasInput" class="form-label">Vacunarse en:</label>
            <input type="number" id="VacunaXSemanasInput" placeholder="Semanas" name="vacuna_x_semanas">
        </form>
        
    </div>

    <div>    
        <form action="index.php" method="POST" class="user-list">
            {% for usuario in usuarios %}
                {% if usuario.Rol != "Admin" %}
                    <div class="card user-card">
                        <img class="card-img-top" height="130px" width="150px" src="data:image;base64,{{usuario.Fotografia}}"/>
                        <div class="card-body">
                            <h5 class="card-title">{{usuario.Nombre}} {{usuario.Apellidos}}</h5>
                            <div class="hor-buttons">
                                {% if rol_user == "Admin" %}
                                    <button class="btn btn-success" name="idEditarUser" value="{{usuario.DNI}}">Editar</button>
                                    <button class="btn btn-danger" name="idBorrarUser" value="{{usuario.DNI}}">Borrar</button>
                                {% elseif rol_user == "Sanitario" %}
                                    <button class="form-button" name="idVerVacunacion" value="{{usuario.DNI}}">Ver Cartilla</button>
                                    <button class="form-button" name="idEditarVacunacion" value="{{usuario.DNI}}">Modificar Cartilla</button>
                                    <button class="form-button" name="idPonerVacuna" value="{{usuario.DNI}}">Añadir Vacuna</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </form>
    </div>
{% endblock %}